

body {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.box {
    width: 200px;
    height: 200px;
    border: 2px solid white;
    position: relative;
    border-radius: 10%;
}

.box::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 2px solid white;
    display: block;
    border-radius: 50%;
    background-image: url(images.jpg);
    background-position: center;
    transition: 1s all;
    position: absolute;
    top: -40px;
    left: -30px;
}

.box:hover::after {
    width: 200px;
    height: 200px;
    border-radius: 11%;
    top: 0;
    left: 0;
}

h2 {
    color: white;
    text-align: center;
    padding: 70px;
   
}